.app-wrapper{
    min-width: 1000px;
    min-height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FCEEEA;
}

.calc-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 525px;
    background: #394273;
}

.calc-display {
    height: 125px;

}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    & button {
        background: #F25757;
        width: 80px;
        height: 80px;

        color: #FCEEEA;
        border: 1px solid #F29B94;
    }

}